body {
    background: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #111;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 0;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    font-weight: bold;
}

#header {
    margin-top: 1em;
}

#header a {
    color: #ccc;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
    font-size: 1em;
}

#header a:hover {
    color: #bfa136;
}

.accueil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;

    background-image: url("images/photo_00_final.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.accueil-logo {
    flex: 1;
    max-width: 60%;
    padding:5% 5% 5% 5%;
    z-index:1;
    text-align: center;
}

.accueil-container-2 {
    display: flex;
    justify-content: center; 
    gap: 2em;
    margin-top: 3em;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    padding:2%;
    text-align:center;
}

.accueil-left {
    flex: 1;
    max-width: 30%;
  }
  
.accueil-right {
    flex: 1;
    max-width: 60%;
}

.photo-wrapper {
    margin: 2em;
}

.contact-photo {
    width: 30%;
    border-radius: 0.5em;
    box-shadow: 0 0.3em 0.6em rgba(0, 0, 0, 0.5);
    object-fit: cover;
    transition: filter 0.4s ease;
}

.contact-photo:hover {
    filter: brightness(1.05) sepia(20%) hue-rotate(10deg) saturate(120%);
}


#galerie img {
    clip-path: rect(0px 240px 180px 0px);
    margin: 0;
}

.title {
    color: #bfa136;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

.subtitle {
    color: #bfa136;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
}

.smalltitle {
    color: #ffffff;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 0;
}


